#Region System
FEEDSTRINGS;
SKIPCHECK;
UNDEFVALS;
#EndRegion
UNDEFVALS;
SKIPCHECK;
UNDEFVALS;
FEEDSTRINGS;


['Credit Amount']=N:IF(ATTRS('Organization',DIMNM('Organization',DIMIX('Organization',!Organization)),'Caption_Default')@=
			DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Source Entity'),
			['Allocation Amount']*-1 ,0);

['Allocated Amount']=N:['Allocation Amount']*['Ratio'];

['Total Driver']=['Total Company','Driver'];

['Driver','Q1']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='FTE',['Driver','Mar'],CONTINUE);
['Driver','Q2']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='FTE',['Driver','Jun'],CONTINUE);
['Driver','Q3']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='FTE',['Driver','Sep'],CONTINUE);
['Driver','Q4']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='FTE',['Driver','Dec'],CONTINUE);
['Driver','Year']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='FTE',['Driver','Dec'],CONTINUE);

['Driver','Q1']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Square Footage',['Driver','Mar'],CONTINUE);
['Driver','Q2']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Square Footage',['Driver','Jun'],CONTINUE);
['Driver','Q3']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Square Footage',['Driver','Sep'],CONTINUE);
['Driver','Q4']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Square Footage',['Driver','Dec'],CONTINUE);
['Driver','Year']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Square Footage',['Driver','Dec'],CONTINUE);

['Driver','Q1']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Server Space',['Driver','Mar'],CONTINUE);
['Driver','Q2']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Server Space',['Driver','Jun'],CONTINUE);
['Driver','Q3']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Server Space',['Driver','Sep'],CONTINUE);
['Driver','Q4']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Server Space',['Driver','Dec'],CONTINUE);
['Driver','Year']=IF(DB('Allocation Calculation',!organization,!Allocation List,!Year,!Month,!Version,'Allocation Driver')@='Server Space',['Driver','Dec'],CONTINUE);

['Driver']=N:IF(SUBST(DB('Allocation Calculation',!Organization,!Allocation List,!Year,'Year',!Version,'Exclude Entity'),1,1)@='Y',0,
DB('Income Statement','Base',!Organization,!Year,!Month,DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Allocation Driver'),!Version) );

['Exclude Entity']=S:IF(ATTRS('Organization',DIMNM('Organization',DIMIX('Organization',!Organization)),'Caption_Default')@=
			DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Source Entity'),
			'Y',STET);

['Allocation Amount']= DB('Income Statement','Base',DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Source Entity'),!Year,!Month,DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Source Account'),!Version)
                                   * DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Pct to Allocate');



#[{'Source Entity','Source Account','Allocation Driver'}] = S: DB('Allocation Source Definition',!Allocation List,!Year,!Version,!Allocation Calculation);

#Region N-Calculation rules: Dimension:Allocation Calculation
#Autogenerated CALC NUMERIC 416C6C6F636174696F6E2043616C63756C6174696F6E
   #Region Dimension:Allocation Calculation, Member:Ratio
   #Autogenerated MEMBERCALC NUMERIC 5B416C6C6F636174696F6E2043616C63756C6174696F6E5D2E5B526174696F5D
   ['Allocation Calculation':'Ratio']=N:(['Allocation Calculation':'Driver']\['Allocation Calculation':'Total Driver']);
   #EndRegion
   #Region Dimension:Allocation Calculation, Member:Allocated Amount
   #Autogenerated MEMBERCALC NUMERIC 5B416C6C6F636174696F6E2043616C63756C6174696F6E5D2E5B416C6C6F636174656420416D6F756E745D
   ['Allocation Calculation':'Allocated Amount']=N:(['Allocation Calculation':'Allocation Amount']*['Allocation Calculation':'Ratio']);
   #EndRegion
#EndRegion

#Region Link rule: Allocation Calculation:Allocation Source Definition - String
#Source cube: Allocation Source Definition
#Target cube: Allocation Calculation
#Autogenerated LINK STRING 7D4C696E6B5F416C6C6F636174696F6E2043616C63756C6174696F6E5F3341416C6C6F636174696F6E20536F7572636520446566696E6974696F6E
['Allocation Calculation':{'Allocation Driver','Source Entity','Source Account'}] = S:DB('Allocation Source Definition',
    !Allocation List, !Year, !Version, ATTRS('Allocation Calculation',
    !Allocation Calculation, '}Map_}Link_Allocation Calculation_3AAllocation Source Definition'));
#EndRegion

#Region C-Calculation rules: Dimension:Allocation Calculation
#Autogenerated CALC CONSOLIDATED 416C6C6F636174696F6E2043616C63756C6174696F6E
   #Region Dimension:Allocation Calculation, Member:Ratio
   #Autogenerated MEMBERCALC CONSOLIDATED 5B416C6C6F636174696F6E2043616C63756C6174696F6E5D2E5B526174696F5D
   ['Allocation Calculation':'Ratio']=C:(['Allocation Calculation':'Driver']\['Allocation Calculation':'Total Driver']);
   #EndRegion
#EndRegion

FEEDERS;

['Driver']=>['Ratio'];
['Allocation Amount']=>['Allocated Amount'],['Total Driver'];
['Allocation Amount']=>DB(IF(ATTRS('Organization',DIMNM('Organization',DIMIX('Organization',!Organization)),'Organization Description')@=
			DB('Allocation Source Definition',!Allocation List,!Year,!Version,'Source Entity'),'Allocation Calculation',''),!Organization,!Allocation List,!Year,!Month,!Version,'Exclude Entity');
['Exclude Entity']=>['Credit Amount'];




#Region FEED The Income Statement
['Credit Amount']=>DB(IF(ATTRS('Version',!Version,'Version Type') @= 'B' %
                        ATTRS('Version',!Version,'Version Type') @= 'A' %
                        ATTRS('Version',!Version,'Version Type') @= 'T'
                   ,'Income Statement',''), 'Local', !organization,!Year, !Month, '6610', !Version);
['Allocated Amount']=>DB(IF(ATTRS('Version',!Version,'Version Type') @= 'B' %
                        ATTRS('Version',!Version,'Version Type') @= 'A' %
                        ATTRS('Version',!Version,'Version Type') @= 'T'
                      ,'Income Statement',''), 'Local', !organization,!Year, !Month, '6600', !Version);
#EndRegion