#Region System
FEEDSTRINGS;
SKIPCHECK;
UNDEFVALS;
UNDEFVALS;
#EndRegion

#Region Year on Year Variances
['Y2-Y1 %' ] =  (['Y2 - Y1 $']\['Y1'])*100;
['Y2-Y1 $' ] =  IF(attrn('Revenue',!Revenue,'signswitch')=0,['Y1']-['Y2'],['Y2']-['Y1']);
#EndRegion

#Region Rate and Volume Variances
['Gross Revenue','Volume Variance']= N:(DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), 'Units Sold') -
	DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Current Version', 'String'), 'Units Sold'))*
	DB('Revenue Assumptions', !product, !Channel, !Month, !Year, DB('Calendar', 'Current Version', 'String'), 'Unit Price');
['Gross Revenue','Rate Variance']= N:(DB('Revenue Assumptions', !product, !Channel, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), 'Unit Price') -
	DB('Revenue Assumptions', !product, !Channel, !Month, !Year, DB('Calendar', 'Current Version', 'String'), 'Unit Price')) *
	DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), 'Units Sold');
#EndRegion

#Region Variances
['Variance']=if(attrn('Revenue',!Revenue,'signswitch')=0,
          (DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Current Version', 'String'), !Revenue)-DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), !Revenue))* ATTR
N('Version',DB('Calendar', 'Compare Against', 'String'),'VarianceFactor'),
          (DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), !Revenue)-DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Current Version', 'String'), !Revenue))* ATTR
N('Version',DB('Calendar', 'Compare Against', 'String'),'VarianceFactor')
          );
['Variance%']=['Variance']\DB('Revenue', !organization, !Channel, !product, !Month, !Year,DB('Calendar', 'Current Version', 'String') , !Revenue)*100;
#EndRegion

#Region Target vs Prior Year Actual
['Target vs Prior Year Actual']=if(attrn('Revenue',!Revenue,'signswitch')=0,['Target']-['Prior Year Actual'],['Prior Year Actual']-['Target'])*-1;
['Target vs Prior Year Actual %']=(['Target vs Prior Year Actual']\RoundP(['Prior Year Actual'],0))*100;
#EndRegion
#Region Prior Year Actual
['Prior Year Actual'] = n: DB('Revenue', !organization, !Channel, !product, !Month, ATTRS('Year',!Year,'Prev'), 'Actual', !Revenue);
#EndRegion

['Gross Margin %']=c: (['Gross Margin']\['Gross Revenue'])*100;
['Unit Price'] = c: ['Gross Revenue']\['Units Sold'];
['Unit Cost'] = c: ['Cost of Sales']\['Units Sold'];

#Region Get Version for Dashboard
['Dashboard'] = n: DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Current Version', 'String'), !Revenue);
['DashboardCA'] = n: DB('Revenue', !organization, !Channel, !product, !Month, !Year, DB('Calendar', 'Compare Against', 'String'), !Revenue);
#EndRegion

['Gross Revenue']=n:['Units Sold']*['Unit Price'];
['Direct COGS']=n:DB('Supply Chain', !organization, !Channel, !product, !Month, !Year, 'Direct Costs', !Version);
['Indirect COGS']=n:IF(DB('Supply Chain', !organization, !Channel, !product, !Month, !Year, 'Units Sold', !Version)<>0,DB('Supply Chain', !organization, !Channel, !product, !Month, !Year, 'Indirect Costs', !Version),CONTINUE);

#['Unit Cost']=n:db('Revenue Assumptions',!Product,!Channel,!Month, !Year, !Version, 'Unit Cost');
['Unit Cost' ] = n: DB('Rate BOM', !Month, ATTRS('organization', !organization, 'Default Plant'), !product, 'Total Local BOM', !Year, !Version);
['Unit Price']=n:db('Revenue Assumptions',!Product,!Channel,!Month, !Year, !Version, 'Unit Price');

#Region C-Calculation rules: Dimension:Revenue
#Autogenerated CALC CONSOLIDATED 526576656E7565
   #Region Dimension:Revenue, Member:Unit Cost
   #Autogenerated MEMBERCALC CONSOLIDATED 5B526576656E75655D2E5B556E697420436F73745D
   #@AutoGenerated
   #['Revenue':{'Unit Cost'}]=C:IF(DTYPE('Month', !Month)@='C',
   #ConsolidateChildren('Month')\ELCOMPN('Month', !Month),
   #CONTINUE);
   #EndRegion
#EndRegion

FEEDERS;
['Units Sold']=>['Unit Cost'],['Unit Price'],['Gross Revenue'],['Direct COGS' ],['Indirect COGS'] ;

#Region Year on Year Variances
[{'Y1','Y2'}]=> ['Y2-Y1 $'];
['Y2-Y1 $']=> ['Y2-Y1 %'];
#EndRegion

#Region Variance Calculation
#['Units Sold']=>DB(IF(DIMNM('Version', DIMIX('Version', !Version))@=DB('Calendar', 'Current Version', 'String'),'Revenue',''), !organization, !Channel, !product, !Month, !Year, 'Variance', !Revenue);
['Actual']=>['Variance'];
['Variance']=>['Variance%'];
#EndRegion

#Region Prior Year Actual
['Actual'] => DB('Revenue', !organization, !Channel, !product, !Month, ATTRS('Year',!Year,'Next'), 'Prior Year Actual', !Revenue);
#EndRegion

#Region Dashboard Version
#['Units Sold']=>DB(IF(DIMNM('Version', DIMIX('Version', !Version))@=DB('Calendar', 'Current Version', 'String'),'Revenue',''),!organization, !Channel, !product, !Month, !Year, 'Dashboard', 'Units Sold');
#['Units Sold']=>DB(IF(DIMNM('Version', DIMIX('Version', !Version))@=DB('Calendar', 'Compare Against', 'String'),'Revenue',''),!organization, !Channel, !product, !Month, !Year, 'DashboardCA', 'Units Sold');
['Budget']=>['Dashboard'];
['Budget']=>['DashboardCA'];
#EndRegion

#Region Target vs Prior Year Actual
['Prior Year Actual']=>['Target vs Prior Year Actual'],['Target vs Prior Year Actual %'];
['Target']=>['Target vs Prior Year Actual'],['Target vs Prior Year Actual %'];
#EndRegion

#Region Rate and Volume Variance Feeders
['Units Sold']=>['Volume Variance'],['Rate Variance'];
['Unit Price']=>['Volume Variance'],['Rate Variance'];
#EndRegion

#REGION Feed Units Sold to Supply Chain Cube
#['Units Sold' ]  => DB('Supply Chain', !organization, !Channel, !product, !Month, !Year,!Revenue,!Version);
#ENDREGION

#Region Automatically generated feeders
#Autogenerated AUTOFEEDERS
['Channel':'Channel Total', 'Version':'Dashboard'] => DB('Revenue Metrics', !organization, !Year, !Month, !Revenue, 
    !product, 'Target');
['Channel':'Channel Total', 'Version':'DashboardCA'] => DB('Revenue Metrics', !organization, !Year, !Month, !Revenue, 
    !product, 'Actual');
['Channel':'Channel Total', 'Version':'Forecast'] => DB('Revenue Metrics', !organization, !Year, !Month, !Revenue, 
    !product, 'Forecast');
#EndRegion